{% load static %}
<!doctype html>
<html lang="ru">
	<head>
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
			integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	        <title>Milgred language school</title>
        	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
	</head>
	<body>
		{% block title %}
		<div class = "navheader">
			<nav class="navbar navbar-expand-md navbar-dark navbar-custom py-0" style="z-index: 2; overflow-x: hidden;
    " id="main-navbar">
				<a class="navbar-brand" href="#">Mildred School</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/#about-us">О нас</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#schedule-prices">Цены</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#contacts">Контакты</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog/#events">Мероприятия</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
        {% endblock %}
		{% block content %}
		{% endblock %}

		<script type="text/javascript">
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(45.853034, 40.128567),
                    zoom: 17,
                    mapTypeId: google.maps.MapTypeId.Map
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
            $(function () {
                 $(document).scroll(function () {
                    $(".nav-link").each(function( index ) {
                        var link = $(this).attr('href');
                        var anchor = link.match(/#(.*)/)[1]
                        var pos = $("a[name=" + anchor +"]").position();
                        var scrollBottom = $(document).scrollTop() + $(window).height();
                        $( this ).toggleClass('active',  pos.top <= scrollBottom &&  pos.top > $(document).scrollTop());
                    })
                  });
            })
        </script>
	<body>
<html>