{% extends 'base.html' %}
{% load static %}
{% block content %}
<a name="about-us"/>
<div class ="row">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{% static 'gfx/london3.jpg' %}" alt="People club" class="opaque">
                <div class="caption center-align">
                    <h1>
                        People club<br/>
                        <small class="light text-lighten-3 hide-on-small-only">Best place to improve your language skills</small>
                    </h1>

                </div>
            </li>

            <li>
                <img src="{% static 'gfx/rock2.jpg' %}" alt="People club" class="opaque">
                <div class="caption left-align">
                    <h1>
                        Погружение в практику<br/>
                        <small class="light text-lighten-3 hide-on-small-only">Мы создаем творческое пространство для ускорения Вашего прогресса</small>
                    </h1>

                </div>
            </li>

            <li>
                <img src="{% static 'images/lake.jpg' %}" alt="People club" class="opaque">
                <div class="caption center-align">
                    <h1>
                        Для всех возрастов<br />
                        <small class="light text-lighten-3 hide-on-small-only">И уровней тоже.</small>
                    </h1>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class = "text-block">
    Цель нашего клуба - превратить процесс изучения языка в легкое и захватывающее приключение. Мы стремимся обеспечить чудесную атмосферу праздника посредством вовлечения наших студентов в творческий процесс и языковую среду. Всякий студент будет для нас другом, с которым мы общаемся, искренне радуюясь его успехам, и всеми силами помогая реализовать их мечты.
</div>

<div class = "row">
    <div class = "col">
        <div class="card-group border-0">
          <div class="card advantage-tile border-0">
            <img class="card-img-top" src="{% static 'gfx/img0.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">English For Everyone</h5>
              <p class="card-text">В нашем клубе мы подходим к каждому студенту индивидуально. Неважно, какой у вас уровень - мы найдем к вам подход</p>
            </div>
          </div>
          <div class="card advantage-tile border-0 border-light">
            <img class="card-img-top" src="{% static 'gfx/fun.gif' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Study with fun</h5>
              <p class="card-text">Изучайте язык легко и играючи: мы предоставляем вам площадку для творчества и общения на английском языке</p>
            </div>
          </div>
          <div class="card advantage-tile border-0">
            <img class="card-img-top" src="{% static 'gfx/logo.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Стирая границы...</h5>
              <p class="card-text">
                    Английский язык позволяет общаться легко и комфортно с миллионами людей по всему миру. Попробуйте и Вы - наш разговорный клуб позволит вам получить практику и обрести уверенность в общении на анлгийском языке!
                </p>
            </div>
          </div>
        </div>
    </div>
</div>

<a name="schedule-prices" />
<div class = "row">
    <div class = "col">
        <div class = "text-block">
            <h3>Расписание и цены</h3>
            <p>
                Стоимость занятия: 300р. Расписание можно уточнить по телефону.
            </p>
            <table class="table">
                <thead>
                  <tr>
                    <th>Группа</th>
                    <th>Расписание</th>
                    <th>Цена</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Младшая</td>
                    <td>пн, ср, пт.</td>
                    <td>300 р.</td>
                  </tr>
                  <tr>
                    <td>Средняя</td>
                    <td>вт, чт, сб</td>
                    <td>300 р.</td>
                  </tr>
                  <tr>
                    <td>Разговорный клуб</td>
                    <td>вт, чт, сб</td>
                    <td>300 р.</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<a name="contacts" />
<div class = "row">
    <div class = "col d-sm-block" >
        <div class="text-block">
            <h3>Контакты и проезд</h3>
        </div>
        <div class = "text-block" style="text-align: center;">
            <div id="map" style="width:400px;height:400px; display: inline-block;" >
            </div>

            <div id="contact-block" style="height:400px; overflow:hidden; display: inline-block; text-align: left;">
                <ul style="list-style: none; text-align: left;">
                    <li>Языковой клуб People</li>
                    <li>Тихорецк</li>
                    <li>улица Калинина, 52</li>
                    <li>arigato86@bk.ru</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(45.853034, 40.128567),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.Map
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyC5tFnjC79bYgZZ18Y8NQUGFIYtDi8ttfw"></script>
{% endblock %}