body { background: white; }
.carousel_item
{
    max-width: 100%;
    overflow: hidden
    position: relative;
    text-align: center;
    color: white;
}


.bg-company-red
{
     style="background-color: darkred;"
}

/* Container holding the image and the text */
.container {

}

.text-block
{
    margin: 50px;
    padding: 8px;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption {
    color: white;
    font-size: 38px;
    font: verdana;
}
/* change the background color */
.navbar-custom {
    background-color: #425453;
    padding: 15;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.advantage-tile-content {
    width: 250px;
    height: 250px;
}

.advantage-row
{
}

.card-img-top
{
    width: 150px;
    height: 150px;
    margin: auto;
}

.advantage-tile {
    padding: 30px;
    border: none;

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.blog-entry
{
    margin-bottom: 8px;
}

.blog-entry h1 {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.blog-entry small {
    padding-upper: 0px;
    margin-upper: 2px;
}
/* Custom fonts */
@font-face {
  font-family: Ubuntu;
  src: local("Ubuntu"),
       local("Ubuntu-Regular"),
       url(Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Italic;
  src: local("Ubuntu-Italic"),
       url(Ubuntu-Italic.ttf);
}

/* Tag overrrides */
body, h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 3.0rem;
}

h2{
    font-size: 2.0rem;color:#37474f;
    margin-bottom: 0px;
}

h3{
    font-size: 1.5rem;
}

strong {
    font-size: 1.1em;
    color: darkblue;
}

/* Materializecss overrrides */
.carousel-slider {
    height: 400px !important;
}

/* Custom styles overrrides */
.dpg-opaque {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=60);

  /* Modern Browsers */
  opacity: 0.6;
}

.dpg-italic {
  font-style: italic;
}

.dpg-icon {
    max-width:4rem;
    max-height:4rem;
}

.dpg-album-card-image {
    width:300px;
    height:225px;
}

.dpg-album-card, .dpg-album-image {
    max-width:300px;
}

